html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
.container {
  height: 100%;
}
body,
* {
  font: 13px/20px 'Monaco', monospace;
  color: #333;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
section.settings,
section.result {
  float: left;
  min-height: 100%;
}
section.settings {
  background: rgba(0,0,0,0.067);
  width: 40%;
}
section.result {
  width: 60%;
}
.panel {
  background: #eee;
  position: relative;
  min-height: 20px;
}
.panel.panel-opened > * {
  display: block;
}
.panel.panel-closed > * {
  display: none;
}
.panel.panel-closed .panel-heading {
  display: block;
}
.panel.panel-closed .panel-heading:before {
  content: '\25B6';
}
.panel-heading {
  padding: 15px 10px 15px 15px;
  color: #fbece8;
  font-size: 115%;
  text-shadow: 0 1px 1px rgba(0,0,0,0.067);
  background: #e04319;
  box-shadow: inset 0 2px 0 rgba(0,0,0,0.333);
}
.panel-heading:before {
  content: '\25BC';
  font-size: 80%;
  display: block;
  float: left;
  margin-right: 5px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  text-shadow: 0 1px 1px rgba(255,255,255,0.333);
  color: #000;
}
.panel-heading .btn {
  background: rgba(255,255,255,0.133);
  color: #fbece8;
  margin-top: -5px;
}
.panel-heading .btn.active {
  background: rgba(0,0,0,0.267);
}
.panel-heading .btn:hover:after {
  background: #fff;
}
.panel-form {
  padding: 20px 15px 5px;
}
.panel-form.panel-alt {
  background: rgba(0,0,0,0.067);
}
.panel-form label {
  color: #999;
  font-size: 95%;
  display: block;
  line-height: 100%;
  padding-bottom: 3px;
}
input[type=text],
input[type=password],
textarea,
.select {
  border: none;
  padding: 5px 10px;
  outline: none;
  background: #fff;
  margin-bottom: 20px;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
.select:focus {
  box-shadow: inset 0 0 0 2px #e04319;
}
.select {
  padding: 0;
  position: relative;
}
.select:after {
  content: '\2193';
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
  color: rgba(0,0,0,0.333);
  line-height: 28px;
}
.select select {
  outline: none;
  height: 30px;
  width: 100%;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
.select select:focus {
  box-shadow: inset 0 -2px 0 #e04319;
}
.btn {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  background: #ddd;
  padding: 5px 15px;
  cursor: pointer;
  text-shadow: none;
}
.btn:hover {
  position: relative;
}
.btn:hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #e04319;
}
.btn.active {
  background: #e04319;
  position: relative;
  z-index: 1;
  color: #fff;
}
.btn-group {
  display: inline-block;
  vertical-align: top;
  background: #e04319;
  padding: 2px;
}
.btn-group .btn {
  display: block;
  float: left;
  margin-left: 2px;
  padding: 3px 15px;
}
.btn-group .btn:first-child {
  margin: 0;
}
.btn-dropdown li {
  display: none;
}
.btn-dropdown li.active {
  display: block;
}
.btn-dropdown:hover li {
  display: block;
}
.gs::after {
  content: '';
  display: table;
  clear: both;
}
.gs input[type=text],
.gs input[type=password],
.gs textarea,
.gs .select {
  display: block;
  width: 100%;
}
.gs .col-1 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 8.333333333333332%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-1::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-2 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 16.666666666666664%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-2::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-3 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-3::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-4 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-4::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-5 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 41.66666666666667%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-5::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-6 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-6::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-7 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 58.333333333333336%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-7::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-8 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 66.66666666666666%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-8::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-9 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 75%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-9::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-10 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 83.33333333333334%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-10::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-11 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 91.66666666666666%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-11::after {
  content: '';
  display: table;
  clear: both;
}
.gs .col-12 {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 0 15px;
}
.gs .col-12::after {
  content: '';
  display: table;
  clear: both;
}
