html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
.container {
  height: 100%;
}
body,
* {
  font: 13px/20px Monaco, monospace;
  color: #333;
}
section.settings,
section.result {
  float: left;
  min-height: 100%;
}
section.settings {
  background: #ddd;
  width: 50%;
}
section.result {
  width: 50%;
}
.panel {
  margin: 10px;
  background: rgba(0,0,0,0.067);
  padding: 5px;
}
input,
textarea {
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
}
.btn {
  display: inline-block;
  vertical-align: top;
  background: #eee;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
}
.btn.active {
  background: #55b4c4;
  position: relative;
  z-index: 1;
}
.btn-group {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
}
.btn-group .btn {
  display: block;
  float: left;
  border-radius: 0;
  margin-left: 1px;
}
.btn-group .btn:first-child {
  border-radius: 3px 0 0 3px;
}
.btn-group .btn:last-child {
  border-radius: 0 3px 3px 0;
}
