html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
.container {
  height: 100%;
}
body,
* {
  font: 13px/20px Monaco, monospace;
  color: #333;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
section.settings,
section.result {
  float: left;
  min-height: 100%;
}
section.settings {
  background: rgba(0,0,0,0.067);
  width: 50%;
}
section.result {
  width: 50%;
}
.panel {
  background: #eee;
  position: relative;
  min-height: 20px;
}
.panel-heading {
  padding: 15px 10px 15px 15px;
  color: #fae2dc;
  font-family: sans-serif;
  font-size: 15px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  background: #e04319;
  box-shadow: inset 0 2px 0 rgba(0,0,0,0.333);
}
.panel-heading .btn {
  background: rgba(255,255,255,0.133);
  border-color: transparent;
  color: #fae2dc;
  margin-top: -5px;
}
.panel-heading .btn.active {
  background: rgba(0,0,0,0.267);
}
.panel-heading .btn:hover:after {
  background: #fff;
}
.panel-form {
  padding: 15px;
}
.panel-form.panel-alt {
  border-top: 2px solid #e04319;
  background: rgba(0,0,0,0.067);
}
.panel-form label {
  color: #999;
  font-size: 12px;
  line-height: 14px;
  display: block;
}
input[type=text],
input[type=password],
textarea,
.select {
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #d4d4d4;
  background: #fff;
  margin-bottom: 10px;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
.select:focus {
  border-color: #e04319;
}
.select {
  padding: 0;
  position: relative;
}
.select:after {
  content: '\2193';
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
  color: rgba(0,0,0,0.333);
  line-height: 28px;
}
.select select {
  outline: none;
  height: 30px;
  width: 100%;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
.select select:focus {
  box-shadow: 0 0 0 1px #e04319;
}
.btn {
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  background: #eee;
  padding: 5px 15px;
  border-radius: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  text-shadow: none;
}
.btn:hover {
  position: relative;
}
.btn:hover:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  height: 3px;
  background: #b23514;
}
.btn.active {
  background: #e04319;
  border-color: #9b2e11;
  position: relative;
  z-index: 1;
  color: #fff;
}
.btn-group {
  display: inline-block;
  vertical-align: top;
  border-radius: 0;
}
.btn-group .btn {
  display: block;
  float: left;
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:first-child {
  border-radius: 0 0 0 0;
}
.btn-group .btn:last-child {
  border-radius: 0 0 0 0;
}
.btn-dropdown li {
  display: none;
}
.btn-dropdown li.active {
  display: block;
}
.btn-dropdown:hover li {
  display: block;
}
.gs {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.gs input[type=text],
.gs input[type=password],
.gs textarea,
.gs .select {
  display: block;
  width: 100%;
}
.gs .col-1 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 5%;
  margin: 0 1.666666666666667%;
}
.gs .col-2 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 13.333333333333334%;
  margin: 0 1.666666666666667%;
}
.gs .col-3 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 21.666666666666668%;
  margin: 0 1.666666666666667%;
}
.gs .col-4 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 30.000000000000004%;
  margin: 0 1.666666666666667%;
}
.gs .col-5 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 38.333333333333336%;
  margin: 0 1.666666666666667%;
}
.gs .col-6 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 46.666666666666664%;
  margin: 0 1.666666666666667%;
}
.gs .col-7 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 55.00000000000001%;
  margin: 0 1.666666666666667%;
}
.gs .col-8 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 63.33333333333333%;
  margin: 0 1.666666666666667%;
}
.gs .col-9 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 71.66666666666667%;
  margin: 0 1.666666666666667%;
}
.gs .col-10 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 80.00000000000001%;
  margin: 0 1.666666666666667%;
}
.gs .col-11 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 88.33333333333334%;
  margin: 0 1.666666666666667%;
}
.gs .col-12 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 96.66666666666667%;
  margin: 0 1.666666666666667%;
}
