@import "kouto-swiss"
@import '../../node_modules/jeet/styl/index';

meyer-reset()

$accent-color = #e04319
$btn-background = #DDD
$btn-color = #FFF
$btn-active-color = $accent-color

$input_fields = "input[type=text], input[type=password], textarea, .select"
html, body, .container
  height 100%

body, *
  font 13px/20px 'Monaco', monospace
  color #333
  box-sizing border-box

.pull-right
  float right

section
  &.settings, &.result
    // min-width 800px
    // margin 0 auto
    float left
    min-height 100%

  &.settings
    background #0001
    width 40%

  &.result
    width 60%

.panel
  // margin 10px
  // margin-bottom 1px
  background #EEE
  position relative
  min-height: 20px

  &.panel-opened
    > *
      display block
  &.panel-closed
    > *
      display none
    .panel-heading
      display block
    .panel-heading:before
      content '\25B6'

.panel-heading
  padding 15px 10px 15px 15px
  color mix(#FFF, $accent-color, 90)
  font-size 115%
  text-shadow 0 1px 1px #0001
  background $accent-color
  box-shadow inset 0 2px 0 #0005

  &:before
    content '\25BC'
    font-size 80%
    display block
    float left
    margin-right 5px
    opacity .5
    text-shadow 0 1px 1px #FFF5
    color #000


  .btn
    background #FFF2
    color @color
    margin-top -5px

    &.active
      background #0004
    &:hover:after
      background #fff

.panel-form
  padding 20px 15px 5px

  &.panel-alt
    // border-top 2px solid $accent-color
    background #0001

  label
    color #999
    font-size 95%
    display block
    line-height 100%
    padding-bottom 3px

{$input_fields}
  border none
  padding 5px 10px
  outline none
  background #FFF
  // background none
  margin-bottom 20px
  // box-shadow inset 0 -2px 0 #0003

  &:focus
    // background #FFF
    box-shadow inset 0 0 0 2px $accent-color
.select
  padding 0
  position relative

  &:after
    content '\2193';
    position absolute
    top 0
    right 5px
    font-size 20px
    color #0005
    line-height 28px


  select
    outline none
    height 30px
    width 100%
    border none
    background transparent
    -webkit-appearance none
    border-radius 0
    padding 0 10px
    position relative
    z-index 1

    &:focus
      box-shadow inset 0 -2px 0 $accent-color

.btn
  text-decoration none
  display inline-block
  vertical-align top
  background $btn-background
  padding 5px 15px
  cursor pointer
  text-shadow none

  &:hover
    position relative

    &:after
      content ''
      position absolute
      bottom 0
      left 0
      right 0
      height 2px
      background $accent-color

  &.active
    background $btn-active-color
    position relative
    z-index 1
    color #fff

.btn-group
  display inline-block
  vertical-align top
  background darken($btn-active-color, 0)
  padding 2px

  .btn
    display block
    float left
    margin-left 2px
    padding 3px 15px

    &:first-child
      margin 0

.btn-dropdown
  li
    display none

    &.active
      display block
  &:hover
    li
      display block


.gs
  clearfix()

  {$input_fields}
    display block
    width 100%

  // &.gs-3 > *
  //   col(4)

  for $i in 1..12
    .col-{$i}
      span($i/12)
      padding 0 15px